*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --hue-neutral: 200;
    --hue-correct: 120;
    --hue-wrong: 0;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vh;
    height: 100vh;
    justify-content: center;
    align-items: center; 
    background-color: hsl(var(--hue), 100%, 20%);
}
 /*mobile devices */
 @media (min-width: 360px) {
     .start-btn {
         margin-left: 125px;
     }
     .container {
         margin-right: 270px;
         width: 300px;
     }
 } 
.container {
    width: 800px;
    max-width: 80;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    justify-content: center;
    align-items: center; 
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat( 2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}
.btn:hover {
    border-color: black;
}

.btn.correct {
    --hue: var(--hue-correct);
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.start-btn {
    margin-left: 200px;
}
.next-btn, .start-btn {
    font-size: 1.5rem;
    padding: 10px 20px;
}

.next-btn, .start-btn:hover {
    border-color: black;
}
.hide {
    display: none
}